---
const { image, alt = "Logo de marca" } = Astro.props;
---

<div class="w-64 h-42 rounded-4xl shadow-brand-card p-4 flex items-center justify-center">
  <img src={image} alt={alt} class="max-h-18 max-w-full object-contain" loading="lazy" />
</div>

<style>
  .shadow-brand-card {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
  }
</style>
