---
---

<footer class="flex justify-between items-center px-4 sm:px-12 py-4 mt-10">
    
  <div class="text-left text-xs md:text-lg text-theme-rich-black">
    <p class="hidden sm:block">&copy; 2025 TrinUp Peruvian Business</p>
    <p class="sm:hidden">&copy; 2025 TrinUp </p>
  </div>

  <div class="flex justify-center gap-4">
    <a href="https://www.instagram.com/trinup.app/" target="_blank"><img src="/images/instagram-icon.svg" alt="Instagram" class="w-4 h-4 md:w-8 md:h-8" /></a>
    <a href="#" target="_blank"><img src="/images/linkedin-icon.svg" alt="Linkedin" class="w-4 h-4 md:w-8 md:h-8" /></a>
  </div>

  <div class="text-right text-xs md:text-lg text-theme-rich-black">
    <p class="hidden sm:block">Desarrollado por TrinupTech</p>
    <p class="sm:hidden">TrinupTech</p>
  </div>
</footer>
