@import "tailwindcss";
@theme {
    --color-theme-seasalt: #F6F6F6;     /* Blanco */
    --color-theme-maize: #F6E944;       /* Amarillo */
    --color-theme-malachite: #25D367;   /* Verde */
    --color-theme-rich-black: #0D181C;  /* Negro */
}