@import "tailwindcss";
@theme {
    --color-theme-spring-green: #00FF66;
    --color-theme-electric-violet: #8f00ff;
    --color-theme-white-smoke: #f2f2f2;
    --color-theme-raisin-black: #1e1e2f;
    --color-theme-aquamarine: #00f5d4;
    --color-theme-bright-pink: #ff5c8a;
    --color-theme-rose-red: #C92856;
    --color-theme-seasalt: #F6F6F6;     /* Blanco */
    --color-theme-maize: #fffe49;       /* Amarillo */
    --color-theme-malachite: #19ee65;   /* Verde */
    --color-theme-rich-black: #0D181C;  /* Negro */

}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Poppins', sans-serif;
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.wave-animation {
  animation: waveMove 8s linear infinite;
}

@keyframes moveCirculara {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes moveCircularb {
  0% {
    transform: translateX(0%) translateY(0);
  }

  100% {
    transform: translateX(200%) translateY(0);
  }
}


.animate-circular-a {
  animation: moveCirculara 10s infinite linear;
}
.animate-circular-b {
  animation: moveCircularb 10s infinite linear;
}